/* Menu styles */

.title {
    -fx-fill: #FFFFFF;
    -fx-font-family: 'Verdana';
    -fx-font-weight: 700;
    -fx-stroke: #0000FF;
    -fx-stroke-width: 3;
}

.score {
    -fx-fill: #FFFFFF;
    -fx-font-family: 'Courier New';
    -fx-font-weight: 700;
}

.subtitle {
    -fx-fill: #FFFFFF;
    -fx-font-family: 'Trebuchet MS';
    -fx-font-weight: 600;
    -fx-stroke: #0000FF;
    -fx-stroke-width: 1.25;
}

.note {
    -fx-fill: #FFFFFF;
    -fx-font-family: 'Trebuchet MS';
}

.option {
    -fx-fill: #FFFFFF;
    -fx-font-family: 'Trebuchet MS';
    -fx-font-weight: 600;
}

.option-selected {
    -fx-stroke: #0000FF;
    -fx-stroke-width: 2;
}

.option-disabled {
    -fx-fill: #808080;
}

/* Entity styles */

.asteroid {
    -fx-fill: #808080;
    -fx-stroke: #A9A9A9;
    -fx-stroke-width: 3;
}

.ship {
    -fx-fill: #FFFFFF;
    -fx-stroke: #D3D3D3;
    -fx-stroke-width: 2;
}

.ship-zone {
    -fx-fill: #FF00FF;
    -fx-opacity: 0.7;
}